body {
	font-family: 'Open Sans', sans-serif;
}

.imageClass {
  cursor: pointer;
  background-size: 160px 600px;
  background-position: relative;
  height: 600px;
  left: 0px;
  top: 0px;
  width: 160px;
  transform: translate(0, 0px);
  -moz-transform: translate(0, 0px);
  -webkit-transform: translate(0, 0px);
  -o-transform: translate(0, 0px);
  -ms-transform: translate(0, 0px);
  border: 1px solid gainsboro;
}

.textArea {
  position: relative;
  color: white;
  font-size: 31.7px;
  line-height: 1;
  text-align: left;
  word-wrap: break-word;
  top: 29%;
  left: 51%;
  -ms-transform: translate(-47%, 10%);
  transform: translate(-50%, -50%);
  width: 85%;
}

.textMargin {
  margin-top: 8px;
}

.textColor {
  display: inline;
  color: #012673;
}
.companyName {
  color: #012673;
  display: inline;
}

.logo {
  position: absolute;
    width: 100%;
    height: 50px;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 121px;
}

.textColor span {
  color: #236bec;
}
