@font-face {
	font-family: "GT-Haptik-Regular";
	src: url("GT-Haptik-Regular.ttf") format("truetype");
  }
  @font-face {
	font-family: "GT Haptik Bold";
	src: url("GT\ Haptik\ Bold.ttf") format("truetype");
  }
  body {
	font-family: "GT Haptik Bold";
  }

.imageClass {
	cursor: pointer;
	background-size:728px 90px;
	background-position:relative;
	height:90px;
	left:0px;
	top:0px;
	width: 728px;
	transform:translate(0, 0px);
	-moz-transform:translate(0, 0px);
	-webkit-transform:translate(0, 0px);
	-o-transform:translate(0, 0px);
	-ms-transform:translate(0, 0px);
	border: 1px solid gainsboro;

}

.textArea {
	position: relative;
    color: white;
    font-size: 28px;
    line-height: 1;
    text-align: left;
    word-wrap: break-word;
    font-weight: 400;
    top: 49%;
    left: 35.5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 66%;
}

.textMargin {
	margin-top: 8px;
}

.textColor {
	display: inline;
	color: #012673;
  }
  
  .companyName {
	color: #012673;
  display:inline;
  }

.logo{
    position: absolute;
    width: 55px;
    height: 49px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.textColor span {
	color: #236bec;
  }
  