body {
	font-family: 'Open Sans', sans-serif;

}

.imageClass {
	cursor: pointer;
	background-size: 300px 600px;
	background-position: relative;
	height: 600px;
	left: 0px;
	top: 0px;
	width: 300px;
	transform: translate(0, 0px);
	-moz-transform: translate(0, 0px);
	-webkit-transform: translate(0, 0px);
	-o-transform: translate(0, 0px);
	-ms-transform: translate(0, 0px);
	border: 1px solid gainsboro;

}

.textArea {
	position: relative;
	color: white;
	font-size: 19pt;
	line-height: 40px;
	text-align: left;
	word-wrap: break-word;
	font-weight: 300;
	top: 50%;
	left: 53%;
	-ms-transform: translate(-47%, 10%);
	transform: translate(-47%, 10%);
	width: 96%;

}

.textMargin {
	margin-top: 8px;
}

.textColor {
	display: inline-block;
	color: #FFFFFF;
}

.companyName {
	display: inline-block;

}

.logo {
	position: absolute;
	width: 103px;
	height: 50px;
	top: 17px;
	left: 72%;
	transform: translateX(-50%);
	background: transparent;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}