
@font-face {
	font-family:"GT Haptik Bold";
	src: url("GT\ Haptik\ Bold.ttf") format('truetype');
}
@font-face {
	font-family: 'GT-Haptik-Regular';
	src: url("GT-Haptik-Regular.ttf") format('truetype');
}


body {
	font-family: "GT Haptik Bold";
 
}

.imageClass {
	cursor: pointer;
	background-size: 728px 90px;
	background-position: relative;
	height: 90px;
	left: 0px;
	top: 0px;
	width: 728px;
	transform: translate(0, 0px);
	-moz-transform: translate(0, 0px);
	-webkit-transform: translate(0, 0px);
	-o-transform: translate(0, 0px);
	-ms-transform: translate(0, 0px);
	border: 1px solid gainsboro;

	

}

.textArea {
	position: relative;
    color: #000;
    font-size: 23px;
    line-height: 1.25;
    word-wrap: break-word;
    top: 49%;
    left: 26%;
    -ms-transform: translate(-47%, 10%);
    transform: translate(-50%, -50%);
    width: 46%;
}

.textMargin {
	margin-top: 8px;
}

.textColor {
	display: inline;
	color: #1e3a8a;
}

/* .textColor span {
	color: #b980f1;
} */

.companyName {
	display: inline;
	color: #1e3a8a;

}

.logo {
	position: absolute;
	width: 89px;
	height: 50px;
	top: 112px;
	left: 50%;
	transform: translateX(-50%);
	background: transparent;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}