@font-face {
    font-family: "GT Haptik Bold";
    src: url("GT\ Haptik\ Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'GT-Haptik-Regular';
    src: url("GT-Haptik-Regular.ttf") format('truetype');
}


body {
    font-family: "GT-Haptik-Regular";

}

.imageClass {
	cursor: pointer;
	background-size: 970px 250px;
	background-position: relative;
	height: 250px;
	left: 0px;
	top: 0px;
	width: 970px;
	transform: translate(0, 0px);
	-moz-transform: translate(0, 0px);
	-webkit-transform: translate(0, 0px);
	-o-transform: translate(0, 0px);
	-ms-transform: translate(0, 0px);
	border: 1px solid gainsboro;

}

.textArea {
	position: relative;
    color: #000;
    font-size: 28px;
    line-height: 1.25;
    text-align: left;
    word-wrap: break-word;
    font-weight: 400;
    top: 50%;
    left: 32%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 55%;

}

.textMargin {
	margin-top: 8px;
}

.textColor {
	display: inline;
	color: #1e3a8a;
}

.textColor span {
	color: #b980f1;
}

.companyName {
	color: #1e3a8a;
	display: inline;

}

.logo {
	position: absolute;
	width: 55px;
	height: 49px;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	background: transparent;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}