@font-face {
  font-family: "SofiaProMedium";
  src: url("SofiaProMedium.otf");
}

body {
  font-family: "SofiaProMedium";
}

.imageClass {
  cursor: pointer;
  background-size: 300px 250px;
  background-position: relative;
  height: 250px;
  left: 0px;
  top: 0px;
  width: 300px;
  transform: translate(0, 0px);
  -moz-transform: translate(0, 0px);
  -webkit-transform: translate(0, 0px);
  -o-transform: translate(0, 0px);
  -ms-transform: translate(0, 0px);
  border: 1px solid gainsboro;
}

.textArea {
  position: relative;
  color: white;
  font-size: 11pt;
  line-height: 22px;
  text-align: left;
  word-wrap: break-word;
  top: 5%;
  left: 48%;
  -ms-transform: translate(-47%, 10%);
  transform: translate(-47%, 10%);
  width: 85%;
}

.textMargin {
  margin-top: 8px;
}

.textColor {
  display: inline-block;
  color: #ffffff;
}

.companyName {
  color: #fff;
}

.logo {
  position: absolute;
  width: 55px;
  height: 49px;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
