@font-face {
	font-family: 'SofiaProMedium';
	src: url("SofiaProMedium.otf") ;
}

body {
	font-family: 'SofiaProMedium';
 
}
  

.imageClass {
	cursor: pointer;
	background-size:160px 600px;
	background-position:relative;
	height:600px;
	left:0px;
	top:0px;
	width:160px;
	transform:translate(0, 0px);
	-moz-transform:translate(0, 0px);
	-webkit-transform:translate(0, 0px);
	-o-transform:translate(0, 0px);
	-ms-transform:translate(0, 0px);
	border: 1px solid gainsboro;

}

.textArea {
    position: relative;
    color: white;
    font-size: 12pt;
    line-height: 28px;
    text-align: center;
    word-wrap: break-word;
    font-weight: 400;
    top: 12%;
    left: 50%;
    -ms-transform: translate(-47%, 10%);
    transform: translate(-50%, 10%);
    width: 100%;

}

.textMargin {
	margin-top: 8px;
}

.textColor {
display: inline-block;
	color: #FFFFFF;
}

.companyName {

color:#fff;
	
}

.logo{
    position: absolute;
    width: 90px;
    height: 50px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}