@font-face {
	font-family: 'Inter-Bold';
	src: url("Inter-Bold.ttf") format('truetype');
}
@font-face {
	font-family: 'Inter-SemiBold';
	src: url("Inter-SemiBold.ttf") format('truetype');
}
@font-face {
	font-family: 'Inter-Light';
	src: url("Inter-Light.ttf") format('truetype');
}
@font-face {
	font-family: 'Inter-Regular';
	src: url("Inter-Regular.ttf") format('truetype');
}

body {
	font-family: 'Inter-Bold';
 
}

.imageClass {
	cursor: pointer;
	background-size:300px 250px;
	background-position:relative;
	height:250px;
	left:0px;
	top:0px;
	width:300px;
	transform:translate(0, 0px);
	-moz-transform:translate(0, 0px);
	-webkit-transform:translate(0, 0px);
	-o-transform:translate(0, 0px);
	-ms-transform:translate(0, 0px);
	border: 1px solid gainsboro;

}

.textArea {
    position: relative;
    color: white;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    word-wrap: break-word;
    font-weight: 400;
    top: 51%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 87%;
}

.textMargin {
	margin-top: 8px;
}

.textColor {
display: inline;
	color: #FFFFFF;
}

.companyName {
	color:#fff;
	
}

.logo{
    position: absolute;
    width: 55px;
    height: 49px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}