@font-face {
	font-family: 'SofiaProRegular';
	src: url("SofiaProRegular.otf") ;
}

@font-face {
	font-family: 'SofiaProMedium';
	src: url("SofiaProMedium.otf") ;
}

@font-face {
	font-family: 'SofiaProSemiBold';
	src: url("SofiaProSemiBold.otf") ;
}
body {
	font-family: 'SofiaProMedium';
 
}

.imageClass {
	cursor: pointer;
	background-size:728px 90px;
	background-position:relative;
	height:90px;
	left:0px;
	top:0px;
	width:728px;
	transform:translate(0, 0px);
	-moz-transform:translate(0, 0px);
	-webkit-transform:translate(0, 0px);
	-o-transform:translate(0, 0px);
	-ms-transform:translate(0, 0px);
	border: 1px solid gainsboro;

}

.textArea {
	position: relative;
    color: white;
    font-size: 11pt;
    line-height: 20px;
    text-align: left;
    word-wrap: break-word;
    font-weight: 900;
    top: 50%;
    left: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 46%;

}

.textMargin {
	margin-top: 8px;
}

.textColor {
display: inline-block;
	color: #FFFFFF;
}

.companyName {
	color:#fff;
	
}

.logo{
    position: absolute;
    width: 49px;
    height: 50px;
    top: -7px;
    left: 40%;
    transform: translateX(-50%);
    background: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}